@tailwind base;
@tailwind components;
@tailwind utilities;

.rhap_container {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0;
}

.rhap_time {
  color: white !important;
}

.rhap_progress-bar {
  background-color: black !important;
}

.rhap_progress-indicator {
  background-color: white !important;
}

.rhap_progress-filled {
  background-color: white !important;
}

.rhap_play-pause-button {
  color: white !important;
}

.rhap_repeat-button {
  color: white !important;
}

.rhap_volume-indicator {
  background-color: white !important;
}

.rhap_volume-bar {
  background-color: white !important;
}

.rhap_volume-button {
  color: white !important;
}

@media screen and (max-width: 640px) {
  .rhap_volume-container {
    display: none;
  }
}

/* Upload Thing */

.input-field > div {
  opacity: 0 !important;
  position: absolute !important;
  width: 100% !important;
  height: 56px !important;
  z-index: 100 !important;
}

.input-field > div input {
  width: 100% !important;
  height: 56px !important;
  cursor: pointer;
}
